---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Wp from "../components/Wp.astro";
---

<Layout title="Resources - Giv Money Finance">
  <main>
    <Navbar
      title={[
        {title: "Features", link: "/"},
        {title: "Resources", link: "/resources"},
        {title: "Blog", link: "/blog"},
        {title: "Career", link: "/career"},
      ]}
    />
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <Wp />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .row {
    min-height: 80vh;
  }
</style>
